<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a style="cursor: pointer" [routerLink]="[baseURL]"><span>{{titel}}</span></a>
    <span class="example-spacer"></span>
    <!-- <div class="example-icon ic-test">
      <mat-icon>favorite</mat-icon>
    </div> -->
    <!-- <div class="example-icon ic-test">
      <button (click)="route('/shop/cart')" mat-icon-button>
          <mat-icon>shopping_cart</mat-icon>
      </button>
    </div> -->
    <!-- <div class="example-icon">
      <button class="button-wrapper" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>code</mat-icon>
        <span>Placeholder</span>
      </button>
      <button mat-menu-item routerLink="/auth/login">
        <mat-icon>person</mat-icon>
        <span>Anmelden</span>
      </button>
      <button mat-menu-item routerLink="/auth/register">
          <mat-icon>person</mat-icon>
          <span>Registrieren</span>
        </button>
    </mat-menu> -->
  </mat-toolbar-row>
</mat-toolbar>