<div class="wrapper">
  <div class="welcome">
    <div>
      <div class="caption-banner">
        <span> Willkommen beim Online Lebensmittelhandel</span>
      </div>
      <div class="subtitle-banner">
        <span>Kaufen Sie bei alle Produkte ein, die Sie für sich brauchen!</span>
      </div>
    </div>
    <div style="margin: 0 auto 0 auto">
      <button style="font-size: 1.5em; height: 70px; background-color: #3D9970; color: #fff" mat-flat-button (click)="routeToProducts()">Alle Produkte</button>
    </div>
  </div>
  <div class="categories">

  </div>
  <div class="featured">

  </div>
  <div class="info">

  </div>
</div>