<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 cont-width">
      <h3>Willkommen!</h3>
      <p>Dies ist der Forschungsshop der Universität Göttingen. Wählen Sie eine Aktion aus!</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 cont-width">
      <button routerLink="admin" style="width: 100%;" mat-raised-button>Administration</button>
    </div>
  </div>
  <!-- <div class="row justify-content-center">
    <div class="col-md-6 cont-width">
      <button routerLink="login" style="width: 100%;" mat-raised-button>Einloggen</button>
    </div>
  </div> -->
  <div class="row justify-content-center">
    <div class="col-md-6 cont-width">
      <button routerLink="/auth/register" style="width: 100%;" mat-raised-button>Registrieren</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 cont-width">
      <button routerLink="/t" style="width: 100%;" mat-raised-button>Treatment starten</button>
    </div>
  </div>
  <!-- <div class="row justify-content-center">
    <div class="col-md-6 cont-width">
      <button routerLink="/shop" style="width: 100%;" mat-raised-button>Beispiel Shop</button>
    </div>
  </div> -->
</div>